/* general cointainer content layout */
.Form-section {
  background-color: var(--opacity-white);
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5em;
}
.Form-section .field .ui.input input,
.ui.form .Form-section .field  textarea {
  background-color: var(--opacity-white);
}

/* Labels left to inputs */
.Form-section .field>label {
  width: 20%;
  margin-top: 0.7em !important;
  float: left;
}
.Form-section .ui.basic.red.label {
  margin-left: 20%;
  margin-top: 0.5em;
  opacity: var(--opacity);
}
.Form-section .ui.search>.results {
  left: 20%;
}
.Form-section .field .input{
  width: 70% !important;
}
@media (min-width: 768px) {
  .Form-section .OneField .field>label {
    width: 10%;
  }
  .Form-section .OneField .field>.input,
  .Form-section .OneField .field>textarea {
    width: 85% !important;
  }
}

.dummyObject {
  visibility: hidden;
}
@media (max-width: 767px) { 
  .dummyObject {
    display: none;
  }
}
